<html>

<head>
<title>
	Code,Compile & Run @ Nikhil Sheoran
</title>

<link rel="stylesheet" type="text/css" href="/static/ccr/css/editor.css">
<link rel="stylesheet" type="text/css" href="/static/ccr/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/ccr/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/ccr/css/bootstrap-theme.css">
<script src="/static/ccr/js/jquery-2.1.4.js" type="text/javascript"></script>  
<script src="/static/ccr/js/bootstrap.js" type="text/javascript"></script>  
<script src="/static/ccr/js/ace.js" type="text/javascript"></script>
<script src="/static/ccr/js/mode-c_cpp.js" type="text/javascript"></script>
<script src="/static/ccr/js/editor.js" type="text/javascript"></script>

</head>

<body onload="loadeditor('c_cpp')">

<div class="header container-fluid text-center">
	<div class="header-inner" >
		Code,Compile & Run
	</div>       
</div>

<div class="content">
	<div class="sidebar-left">
	</div>
	
	<div id="content-inner" class="container-fluid">
		<br/>
		{% csrf_token %}
		<div id="editor">
		</div>
		<br/>
		<div id="operations">
			<label class="label label-default">
			Language : C++
			</label> 
			<button style="margin-left:1%;"id="compile" class="btn btn-default btn-xs" onclick="doCompile()">Compile</button>
			<button id="run" class="btn btn-default btn-xs" onclick="doRun()">Run</button>
		</div>
		<br>
		<div id="response">
			{% include 'ccr/status.html' %}
		</div>

	</div>

	<div class="sidebar-right">
	</div>
</div>
<div class="footer container-fluid text-center">
	<div class="footer-inner">
	Copyright @ Nikhil Sheoran (Follow <a href="http://www.github.com/nikhil96sher">@GitHub</a>)	   	
	</div>
</div>


</body>
</html>