#editor
{ 
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 98%;
    height: 50%;
}

#operations
{
    position: relative;
    margin-left: 1%;
}

#status
{
    position: relative;
    margin-left:1%;
}

#input_output
{
    position: relative;
    width:100%;
    margin-left: 1%;
}

textarea
{
    resize:none;
    min-height: 25%;
    width:47.5%;
}